@using EnglishWeb.Controllers
@using EnglishWeb.Core.Models.DomainModels

@{
    ViewData["Title"] = "Create";
}
<style>
    .choose-type-box {
        padding: 2rem 15rem;
    }
</style>

<h1>Создать тест</h1>
<div class="choose-type-box">
    <form  method="get" action="@Url.Action(nameof(TestController.ChooseType), "Test")">
        <select class="form-control" name="testType">
            @foreach (var tType in Html.GetEnumSelectList<TestType>())
            {
                <option value="@tType.Value">@tType.Text</option>
            }
        </select>
        <select class="form-control mt-5" name="language">
            @foreach (var language in Html.GetEnumSelectList<Language>())
            {
                <option value="@language.Value">@language.Text</option>
            }
        </select>
        <div class="d-flex justify-content-center mt-5">
            <input class="btn btn-primary" type="submit" role="button" value="Начать" />
        </div>
    </form>
</div>